---
import moment from 'moment';
import showdown from 'showdown';
import JourneyLayout from '../../layouts/JourneyLayout.astro';
import { findAllPosts, findOnePost } from '../../service/strapi';
import '../../styles/post.css';

export async function getStaticPaths() {
  const { data: posts } = await findAllPosts();

  if (!posts) {
    return [];
  }
  return posts.map((post) => {
    return {
      params: { id: post.id },
    }
  })
}

const { id } = Astro.params;
const { data: post} = await findOnePost(id as string);
const showdownConverter = new showdown.Converter();
const htmlContent = showdownConverter.makeHtml(post.attributes.content);
---
<JourneyLayout>
    {
      post ? 
        <>
          <div class="post-title">{post.attributes.title}</div>
          <div class="updated-at">Updated on {moment(post.attributes.updatedAt).format('LL')}</div>
          <div
            class="post"
          >
            <Fragment set:html={htmlContent} />
          </div>
        </> 
      : <div>Post does not exists</div>
    }
   
</JourneyLayout>
