.overview {
  cursor: pointer;
  background: #fff;
  color: #1d1d1d;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.overview .img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.overview .content {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.overview .content .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.overview .info {
  display: flex;
  justify-content: space-between;
  padding-top:2rem;
}

.overview .info .tags span {
  border: 1px solid #ff909d;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1em;
}

.overview .info .time {
  color: #888888;
}

.post-title {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  line-height: 3rem;
}

.post {
  padding: 2rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
}

.post img {
  max-width: 100%;
}