---
import Intro from '../components/Intro.astro';
import Particles from '../components/Particles.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <div>
    <Particles />
    <Intro />
  </div>
  <script src="/js/particles.js" is:inline ></script>
  <script src="/js/load-particles.js" is:inline></script>
</MainLayout>

