---
import Selector from "./Selector";
---

<div class="main">
  <div class="name">Dawei Feng</div>
  <div class="status">Software Engineer</div>
  <div class="selectors">
    <Selector client:load expand={true} />
  </div>
</div>
