html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  text-align: center;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -150px;
  color: #0e1e25;
}

.main .name {
  font-size: 3rem;
}

.main .status {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
}

.main .selectors {
  margin: 10px auto;
}

.particle-bg {
  height: calc(100vh - 4px);
}

.selector {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  transition: all 0.2s linear;
  vertical-align: top;
}

.selector a {
  color: white;
  text-decoration: none;
}

.selector > a > .text,
.selector > .text {
  display: none;
}

.selector-expand {
  width: 90px;
  border-radius: 12px;
}

.text-expand {
  margin: 0 auto;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  display: block;
}

.red-bg {
  background: #ff909d;
}
.red-bg:hover {
  background: #e03e51;
}

.blue-bg {
  background: #90e4ff;
}
.blue-bg:hover {
  background: #3cb7e0;
}

.orange-bg {
  background: #ffd08a;
}
.orange-bg:hover {
  background: #f3af49;
}

.delay-025 {
  animation-delay: 0.1s;
}

.delay-05 {
  animation-delay: 0.2s;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0;
}